
html,
body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container-global{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
  @extend %dmsans-700;
  font-size: 36px;
  color: #1a1a1a;
  text-align: center;
  text-transform: uppercase;
}

.breadcrumbs{
  display: inline-flex;
  justify-content: center;
  &__list{
    display: flex;
  }
  &__item{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: $bradcrumbs;
    padding-right: 20px;
    position: relative;
    &::after{
      content: '/';
      position: absolute;
      right: 7px;
      top: 0;
      @extend %rubik-400;
      font-size: 14px;
      line-height: 24px;
      color: $bradcrumbs;
    }
    &:last-child{
      padding-right: 0;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
  }
}