
html,
body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  @extend %rubik-400;
  font-size: 16px;
}

.main{
  flex-grow: 1;
}

.container-global{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
  @extend %dmsans-700;
  font-size: 36px;
  color: #1a1a1a;
  text-align: center;
  text-transform: uppercase;
}

.filter{
  &__title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 22px;
    color: $prodtitle;
    display: inline-block;
    margin-bottom: 25px;
    position: relative;
    text-transform: uppercase;
    &::after{
      content: '';
      position: absolute;
      width: 38px;
      height: 2px;
      background-color: $bg;
      right: -52px;
      top: 11px;
      border-radius: 1px;
    }
  }
}

.breadcrumbs{
  display: inline-flex;
  justify-content: center;
  &__list{
    display: flex;
  }
  &__item{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: $bradcrumbs;
    padding-right: 20px;
    position: relative;
    &::after{
      content: '/';
      position: absolute;
      right: 7px;
      top: 0;
      @extend %rubik-400;
      font-size: 14px;
      line-height: 24px;
      color: $bradcrumbs;
    }
    &:last-child{
      padding-right: 0;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
  }
}

.pagination{
  display: flex;
  justify-content: center;
  padding-top: 108px;
  &__list{
    display: flex;
    align-items: center;
  }
  &__link{
    font-size: 16px;
    line-height: 100%;
    padding: 16px 20px;
    color: $prodtitle;
    border: 1px solid $bg;
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  &__link--active{
    background-color: $bg;
    color: #fff;
  }
  &__arrow{
    font-size: 16px;
    line-height: 100%;
    color: $prodtitle;
    padding: 17px 20px;
    border: 1px solid $bg;
  }
}

.pagination-catalog-list{
  justify-content: start;
  padding-top: 75px;
}
