
html,
body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container-global{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}