@media (max-width: 1366px) {
  .blog-page,
  .blog-details {
    &__content {
      max-width: 100%;
    }
    &__sidebar {
      max-width: 100%;
      .filter-category,
      .recent-posts {
        display: none;
      }
      .filter-search {
        width: 100%;
        &__input {
          max-width: 100%;
        }
      }
    }
    &__inner {
      flex-direction: column-reverse;
    }
  }
  .comments-form {
    &__box-input {
      flex-direction: column;
    }
    &__text-input {
      width: 100%;
    }
    &__text-input--name {
      margin-right: 0;
      margin-bottom: 20px;
    }
    &__textarea {
      max-width: 100%;
    }
  }

  .product-item {
    &__slide {
      width: 120px;
    }
    &__content {
      width: 100%;
    }
  }
  .product-slide {
    &__big {
      display: none;
    }
  }

  .product-slider__inner {
    .products-item {
      max-width: 80%;
      height: 300px;
      &__card-title {
        text-align: center;
      }
    }
  }

  .catalog {
    &__inner {
      display: block;
    }
    &__filters {
      display: none;
      margin-bottom: 20px;
    }
    &__filter-btn {
      display: block;
      border: none;
      background-color: $bgalpha;
      width: 100%;
      padding: 10px 30px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }
  .filter {
    max-width: 100%;
  }
  .catalog-content {
    margin-left: 0;
    &__item {
      height: 370px;
    }
    &__info {
      max-width: 100%;
    }
  }
}

@media (max-width: 1024px) {
  .product-tabs {
    &__top-item {
      width: 220px;
    }
  }
}

@media (max-width: 800px) {
  .blog-page,
  .blog-details {
    padding: 50px 0;
  }

  .product {
    padding: 120px 0 0px;
  }

  .product-tabs {
    &__top {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    &__top-item {
      margin-bottom: 10px;
    }
    &__top-item + .product-tabs__top-item {
      margin-left: 0;
    }
  }

  .product-slider {
    display: none;
  }

  .catalog-content {
    &__title {
      font-size: 28px;
    }
    &__price {
      font-size: 20px;
      margin-top: 15px;
    }
  }
}

@media (max-width: 600px) {
  .blog-page {
    &__title {
      font-size: 28px;
    }
    &__item + .blog-page__item {
      margin-top: 30px;
    }
  }
  .blog-author {
    &__inner {
      flex-direction: column;
      height: 100%;
    }
  }
  .comments {
    &__inner--right {
      margin-left: 0;
    }
  }
  .blog-details {
    h2 {
      font-size: 28px;
    }
  }

  .product-item {
    // &__slide{
    //   display: none;
    // }
    &__price {
      margin-top: 20px;
      margin-bottom: 15px;
    }
    &__btn {
      display: block;
      margin-left: 0;
      margin-top: 15px;
      padding: 18px 25px 17px 25px;
    }
    &__title {
      font-size: 28px;
    }
  }

  .catalog-content {
    &__inner-img {
      display: none;
    }
    &__filter{
      flex-direction: column;
    }
  }

  .jq-selectbox__select{
    margin-left: 0;
  }
}

@media (max-width: 380px) {
  .product-item {
    &__slide {
      display: none;
    }
    &__info {
      margin-top: 25px;
    }
  }
}
