$headertop: #436372;
$footertitle: #1f2044;
$footertext: #7b7b7b;
$accent: #fcd7b6;
$bg: #a3bbc8;
$title: #1a1a1a;
$prodtitle: #243f4d;

%dmsans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%poppins-700{
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}
%rubik-700{
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}