@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  padding-top: 48px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo{
  display: flex;
  align-items: center;
  &__link{
    @extend %rubik-700;
    margin-left: 13px;
    font-size: 36px;
    line-height: 58px;
    color: $headertop;
  }
}

.menu{
  margin-left: 146px;
  &__list{
    display: flex;
    @extend %rubik-700;
    font-size: 15px;
    line-height: 12px;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    color: $headertop;
  }
}

.user-nav{
  display: flex;
  &__search{
    padding: 18px 18px 18px 17px;
    border: inherit;
    border-radius: 50%;
    background-color: rgba(163, 187, 200, .2);
  }
  &__item{
    display: flex;
    justify-content: space-between;
    width: 178px;
    height: 51px;
    margin: 0 18px 0 21px;
    padding: 22px 42px 12px 41px;
    background-color: #fcd7b6;
    border-radius: 25px;
  }
  &__link{
    position: relative;
  }
  &__link--line::after{
    content: '';
    background-image: url(../images/menu-line.svg);
    display: block;
    position: absolute;
    right: -30px;
    top: -12px;
    width: 1px;
    height: 32px;

  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    top: -9px;
    right: -9px;
    background-color: #ffffff;
    text-align: center;
    font-size: 10px;
    line-height: 18px;
    border-radius: 50%;
    @extend %dmsans-400;
  }
  &__burger-menu{
    padding: 15px 15px 16px 16px;
    border: none;
    border-radius: 50%;
    background-color: #a3bbc8;
  }
}




































@import 'media';
