@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

















.terms{
  padding: 98px 0 67px;
  &__title{
    @extend %rubik-500;
    font-size: 24px;
    line-height: 40px;
    color: $prodtitle;
    margin-bottom: 23px;
    &:first-child{
      margin-bottom: 29px;
    }
    &:nth-child(2){
      margin-bottom: 20px;
    }
  }
  &__list{
    list-style-type:decimal-leading-zero;
    margin-left: 33px;
  }
  &__item,
  &__text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $prodtitle;
    padding-bottom: 23px;
  }
}







.catalog{
  padding: 114px 0 120px;
  &__inner{
    display: flex;
  }
}

.filter{
  max-width: 272px;
  width: 100%;
}

.filter-category{
  margin-bottom: 58px;
  &__label {
    cursor: pointer;
    margin-bottom: 5px;
    display: block;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox{
      background-color: $bgalpha;
      border-radius: 5px;
    }
  }
  &__checkbox{
    color: $prodtitle;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    background-color: #fff;
    padding: 15px 28px 15px 14px;
  }
}

.filter-price{
  &__inner{
    display: flex;
    justify-content: space-between;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 100%;
    color: $prodtitle;
    margin-bottom: 79px;
  }
  &__from,
  &__to{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 100%;
    color: $prodtitle;
  }
}

.irs--flat .irs-line{
  height: 2px;
  background-color: $bgalpha;
  border-radius: 0;
  top: 10px;
}

.irs--flat .irs-bar{
  height: 3px;
  background-color: $bg;
  top: 10px;
}

.irs--flat .irs-handle{
  width: 15px;
  height: 15px;
  background-color: $bg;
  top: 4px; 
}

.irs--flat .irs-handle>i:first-child{
  display: none;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
  display: none;
}

.irs--flat .irs-min, .irs--flat .irs-max{
  display: none;
}

.filter-brand{
  margin-bottom: 58px;
  &__label {
    cursor: pointer;
    margin-bottom: 5px;
    display: block;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox{
      background-color: $bgalpha;
      border-radius: 5px;
    }
  }
  &__checkbox{
    color: $prodtitle;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    background-color: #fff;
    padding: 15px 28px 15px 14px;
  }
}

.filter-recent{
  max-width: 227px;
  &__item + .filter-recent__item{
    margin-top: 24px;
  }
  &__inner{
    display: flex;
  }
  &__image{
    width: 70px;
    height: 70px;
    object-fit: none;
    margin-right: 20px;
  }
  &__title,
  &__price{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
  }
  &__title{
    margin-bottom: 10px;
  }
  &__price{
    display: block;
    margin-top: 10px;
  }
  
}

.jq-ry-container>.jq-ry-group-wrapper{
  margin-left: -7px;
}

.catalog-content{
  width: 100%;
  margin-left: 30px;
  &__filter{
    padding: 15px 25px 15px 30px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bgalpha;
    border-radius: 5px;
  }
  &__filter-buttons{
    margin-top: 2px;
  }
  &__filter-btn{
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    cursor: pointer;
    &.catalog-content__filter-btn--active{
      path{
        fill: $headertop;
      }
    }
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .products-item{
      margin-bottom: 40px;
    }
  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  &__item + .catalog-content__item{
    margin-top: 41px;
  }
  &__inner-img{
    display: flex;
    justify-content: center;
    width: 370px;
    margin-right: 62px;
  }
  &__info{
    max-width: 438px;
  }
  &__title{
    @extend %rubik-400;
    font-size: 40px;
    line-height: 100%;
    color: #333333;
    margin-bottom: 14px;
  }
  &__price{
    @extend %rubik-400;
    display: block;
    font-size: 30px;
    line-height: 45px;
    margin-top: 32px;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
    color: $prodtitle;
  }
  &__btn{
    border: none;
    background-color: $bg;
    padding: 16px 50px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    line-height: 100%;
  }
  &__btn-cart,
  &__btn-heart{
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    background-color: $bg;
  }
  &__btn-cart{
    margin-right: 11px;
  }
  &__btn-heart{
    border: none;
    background-color: #fff;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, .1);

  }
  &__btn-img{
    margin: 0 auto;
  }
}

.jq-selectbox__select {
    height: 0;
    padding: 0 30px 25px 0;
    margin-left: 30px;
    border: none;
    background: transparent;
    box-shadow: none;
    @extend %rubik-400;
    color: $prodtitle;
    text-shadow: none;
    &:hover{
      background: transparent;
    }
}

.jq-selectbox__trigger{
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 10px;
  height: 5px;
  border-top: 5px solid #999;
  border: none;
  background-image: url(../images/icons/select-arrow.svg);
}

.product{
  padding: 120px 0 110px;
}

.product-item{
  margin-bottom: 70px;
  &__inner{
    display: flex;
  }
  &__slide{
    width: 550px;
    margin-right: 66px;
  }
  &__content{
    width: 549px;
  }
  &__title{
    @extend %rubik-400;
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 14px;
    color: #333333;
  }
  &__price{
    display: block;
    font-size: 30px;
    line-height: 45px;
    color: #333333;
    margin-top: 32px;
    margin-bottom: 28px;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    color: $prodtitle;
    margin-bottom: 28px;
  }
  &__btn{
    font-size: 15px;
    line-height: 100%;
    color: #fff;
    padding: 18px 50px 17px 52px;
    background-color: $bg;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
  }
  &__input{
    padding-left: 49px;
  }
}

.jq-number__field{
  width: 50px;
  height: 53px;
  border: 1px solid $bg;
  border-bottom-color: $bg;
  border-radius: 0;
}

.jq-number__field input{
    width: 100%;
    padding: 18px 9px;
    border: none;
    outline: none;
    background: none;
    @extend %rubik-400;
    text-align: center;
    color: #333;
}

.jq-number__spin{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 53px;
    border: 1px solid $bg;
    border-bottom-color: $bg;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    user-select: none;
    text-shadow: none;
    cursor: pointer;
}

.jq-number__spin.minus{
  top: auto;
  bottom: 0;
  left: 0;
}
.jq-number__spin.plus{
  right: -13px;
}

.jq-number__spin.plus::after{
  content: '+';
  position: absolute;
  top: 15px;
  left: 20px;
  width: 0;
  height: 0;
  border: none;
}

.jq-number__spin.minus::after{
  content: '-';
  position: absolute;
  top: 15px;
  left: 20px;
  width: 0;
  height: 0;
  border: none;
}

.product-info{
  margin-top: 55px;
  &__item{
    display: flex;
  }
  &__title,
  &__text{
    font-size: 16px;
    line-height: 30px;
    color: $prodtitle;
  }
  &__link{
    color: inherit;
  }
}

.product-slide{
  &__thumb{
    width: 138px;
    margin-right: 25px;
    float: left;
  }
  &__thumb-item{
    margin-bottom: 25px;
    width: 138px;
    height: 160px;
    cursor: pointer;
    img{
      width: 138px;
      height: 160px;
      object-fit: contain;
    }
  }
  &__big{
    width: 387px;
    height: 530px;
    float: left;
    img{
      width: 387px;
      height: 530px;
      object-fit: contain;
    }
  }
}

.product-tabs{
  &__top{
    margin-bottom: 36px;
    text-align: center;
  }
  &__top-item{
    display: inline-block;
    @extend %rubik-500;
    font-size: 18px;
    line-height: 100%;
    color: $prodtitle;
    width: 241px;
    height: 53px;
    padding: 16px 0;
    text-align: center;
    background-color: $bgalpha;
    border-radius: 5px;
  }
  &__top-item + .product-tabs__top-item{
    margin-left: 13px;
  }
  &__top-item--active{
    background-color: $bg;
    color: #fff;
  }
  &__content-item{
    display: none;
    &.product-tabs__content-item--active{
      display: block;
    }
  }
  &__content-item{
    font-size: 16px;
    line-height: 30px;
    color: $prodtitle;
    margin-bottom: 115px;
  }
}

.product-slider{
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 43px;
    color: $prodtitle;
    margin-bottom: 68px;
  }
}

.slick-arrow{
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 0;
  right: 0;
  top: -111px;
  background-color: transparent;
  border: 1px solid $bg;
  border-radius: 5px;
}

.slick-arrow.slick-prev{
  right: 70px;
  background-image: url(../images/icons/prev.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $bgalpha;
}

.slick-arrow.slick-next{
  background-image: url(../images/icons/next.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.blog-page{
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    max-width: 830px;
    width: 100%;
  }
  &__item + .blog-page__item{
    margin-top: 73px;
  }
  &__link-img{
    position: relative;
    z-index: 1;
  }
  &__aisde{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 275px;
    height: 70px;
    padding: 25px 24px 25px 30px;
    background-color: $bg;
    position: relative;
    z-index: 2;
    margin-top: -70px;

  }
  &__date,
  &__link-author{
    font-size: 12px;
    line-height: 100%;
    color: #fff;
    padding-left: 25px;
    position: relative;
  }
  &__date{
    display: block;
    &::before{
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      background-image: url(../images/icons/date.svg);
      left: 0;
      top: -4px;
    }
  }
  &__link-author{
    &::before{
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url(../images/icons/persona.svg);
      left: 0;
      top: -8px;
    }
  }
  &__title{
    @extend %rubik-400;
    margin-top: 36px;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 28px;
    color: #333333;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    color: $prodtitle;
    margin-bottom: 21px;
  }
  &__link-btn{
    display: block;
    width: 180px;
    padding: 18px 20px 22px;
    border: 1px solid $bg;
    position: relative;
    color: $bg;
    &::after{
      content: '';
      position: absolute;
      width: 22px;
      height: 9px;
      background-image: url(../images/icons/blog-arrow.svg);
      right: 20px;
      top: 25px;
    }
  }
}

.blog-page__sidebar{
  max-width: 270px;
  width: 100%;
}

.filter-search{
  &__form{
    position: relative;
    margin-bottom: 53px;
  }
  &__input{
    max-width: 270px;
    width: 100%;
    height: 42px;
    border: 1px solid $bg;
    border-radius: 5px;
    margin: 0;
    padding: 0 63px 0 15px;
  }
  &__btn{
    width: 48px;
    height: 42px;
    border: none;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -2px;
    cursor: pointer;
  }
}

.recent-posts{
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item + .recent-posts__item{
    margin-top: 23px;
  }
  &__content{
    max-width: 180px;
  }
  &__text{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 7px;
  }
  &__date{
    font-size: 12px;
    line-height: 100%;
    display: block;
    color: #9A9A9A;
    padding-left: 30px;
    position: relative;
    margin-left: 10px;
    &::before{
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      background-image: url(../images/icons/date.svg);
      left: 0;
      top: -4px;
    }
  }
}

.blog-details{
  h2{
    font-size: 36px;
    color: #333333;
    margin: 34px 0;
  }
  h5{
    @extend %rubik-500;
    font-size: 16px;
    line-height: 30px;
    color: $prodtitle;
    margin-bottom: 20px;
  }
  p{
    font-size: 16px;
    line-height: 30px;
    color: $prodtitle;
    margin-bottom: 30px;
  }
  blockquote{
    padding: 22px 90px 22px 38px;
    background-color: $bgalpha;
    border-left: 6px solid $bg;
    font-size: 16px;
    line-height: 30px;
    color: $prodtitle;
    margin-bottom: 46px;
    span{
      display: block;
      padding-left: 42px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        width: 20px;
        height: 3px;
        background-image: url(../images/icons/span-line.svg);
        left: 0;
        top: 14px;
      }
    }
  }
  h6{
    @extend %rubik-500;
    font-size: 18px;
    line-height: 30px;
    color: $prodtitle;
    padding: 25px 0 0 0;
    p{
      display: block;
      font-size: 16px;
      line-height: 30px;
      margin-top: 22px;
      color: #565872;
      margin-bottom: 0;
    }
  }

  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    max-width: 830px;
    width: 100%;
  }
  &__left-img{
    float: left;
    margin-right: 31px;
  }
  &__right-img{
    float: right;
    margin-left: 31px;
  }
}

.blog-author{
  margin-top: 47px;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  &__inner{
    height: 130px;
    display: flex;
    justify-content: space-between;
  }
  &__info{
    display: flex;
    align-items: center;
  }
  &__image{
    margin-right: 28px;
  }
  &__name{
    @extend %rubik-500;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 12px;
    color: #333333;
  }
  &__position{
    font-size: 16px;
    line-height: 100%;
    color: #666666;
  }
  &__tags{
    color: #333333;
  }
  &__tag-list{
    display: inline-flex;
    margin-top: 39px;
    margin-bottom: 13px;
    margin-left: 27px;
  }
  &__tag-link{
    color: #999999;
  }
  &__tag-item + .blog-author__tag-item{
    margin-left: 4px;
  }
  &__share-list{
    display: inline-flex;
    margin-left: 20px;
  }
  &__share-item + .blog-author__share-item{
    margin-left: 20px;
  }
}

.comments{
  margin-bottom: 92px;
  &__title{
    margin-top: 62px;
    @extend %rubik-700;
    font-size: 24px;
    line-height: 100%;
    color: $headertop;
    margin-bottom: 55px;
  }
  &__inner{
    display: flex;
    margin-bottom: 29px;
  }
  &__inner-img{
    width: 100px;
    height: 100px;
    margin-right: 31px;
    overflow: hidden;
    object-fit: cover;
  }
  &__content-top{
    display: flex;
    justify-content: space-between;
  }
  &__content-name{
    @extend %rubik-700;
    font-size: 16px;
    line-height: 19px;
    color: $headertop;
    margin-bottom: 23px;
  }
  &__content-date{
    font-size: 16px;
    line-height: 17px;
    color: #9E9E9E;
  }
  &__content-text{
    font-size: 16px;
    line-height: 30px;
    color: #565872;
    margin-bottom: 15px;
    max-width: 698px;
  }
  &__content-reply{
    padding-right: 32px;
    font-size: 14px;
    line-height: 17px;
    color: #526278;

    position: relative;
    &::after{
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      background-image: url(../images/icons/arrow-right.svg);
      right: 0;
    }
  }
  &__inner--right{
    margin-left: 131px;
    padding: 29px 0;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
  }
  &__content-text--right{
    max-width: 567px;
  }
}

.comments-form{
  &__title{
    @extend %rubik-700;
    font-size: 24px;
    color: $headertop;
    margin-bottom: 44px;
  }
  &__box-input{
    display: flex;
    margin-bottom: 20px;
  }
  &__text-input{
    display: inline-block;
    width: 400px;
    height: 50px;
    padding: 0 40px 0 20px;
    border: 1px solid $bg;
  }
  &__text-input--name{
    margin-right: 30px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 18px;
      bottom: 0;
      right: 20px;
      width: 14px;
      height: 13px;
      background-image: url(../images/icons/name.svg);
    }
  }
  &__text-input--email{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 19px;
      bottom: 0;
      right: 20px;
      width: 18px;
      height: 12px;
      background-image: url(../images/icons/email.svg);
    }
  }
  &__textarea{
    max-width: 830px;
    width: 100%;
    height: 120px;
    padding: 17px 40px 17px 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    resize: none;
    margin-bottom: 40px;
  }
  &__textarea--text{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 19px;
      bottom: 0;
      right: 20px;
      width: 18px;
      height: 14px;
      background-image: url(../images/icons/text.svg);
    }
  }
  &__btn{
    padding: 16px 34px;
    background-color: $bg;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
}

.contact{
  padding: 116px 0 120px;
  &__subtitle{
    @extend %poppins-700;
    font-size: 16px;
    line-height: 20px;
    color: $bg;
    margin-bottom: 4px;
    text-align: center;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 35px;
    line-height: 57px;
    color: $prodtitle;
    margin-bottom: 66px;
    text-align: center;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: 370px;
    height: 382px;
    background-color: #FBFBFB;
    transition: all .5s;
    &:hover{
      border: 2px solid $bg;
    }
    &:hover .contact__icon{
      background-color: $bg;
    }
    &:hover path {
      fill: #fff;
    }
  }
  &__icon{
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 71px;
    margin-bottom: 59px;
    transition: all .5s;
  }
  &__addres,
  &__email,
  &__phone{
    @extend %dmsans-700;
    font-size: 20px; 
    line-height: 26px;
    text-align: center;
    margin-bottom: 19px;
    color: #222222;
  }
  &__info-email,
  &__info-tel,
  &__info{
    display: block;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    max-width: 272px;
    margin: 0 auto;
    color: #565872;
  }
}

.contact-us{
  margin-bottom: 145px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__message{
    max-width: 620px;
    width: 100%;
  }
  &__box-input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__input-text{
    width: 300px;
    height: 50px;
    padding: 0 40px 0 20px;
    background-color: #F5F5F5;
    border: none;
  }
  &__textarea{
    padding: 14px 40px 14px 20px;
    background-color: #F5F5F5;
    resize: none;
    width: 100%;
    border: none;
    height: 175px;
    margin-bottom: 29px;
  }
  &__input-text--name{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 18px;
      bottom: 0;
      right: 20px;
      width: 14px;
      height: 13px;
      background-image: url(../images/icons/contact-name.svg);
    }
  }
  &__input-text--email{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 18px;
      bottom: 0;
      right: 20px;
      width: 18px;
      height: 12px;
      background-image: url(../images/icons/contact-email.svg);
    }
  }
  &__textarea--text{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 18px;
      bottom: 0;
      right: 20px;
      width: 18px;
      height: 15px;
      background-image: url(../images/icons/contact-text.svg);
    }
  }
  &__btn{
    @extend %poppins-700;
    font-size: 16px;
    padding: 15px 45px;
    background-color: $bg;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
}

#map {
  width: 500px;
  height: 338px;
}













@import 'media';
