.blog-details {
  h2 {
    font-size: 36px;
    color: #333333;
    margin: 34px 0;
  }
  h5 {
    @extend %rubik-500;
    font-size: 16px;
    line-height: 30px;
    color: $prodtitle;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    line-height: 30px;
    color: $prodtitle;
    margin-bottom: 30px;
  }
  blockquote {
    padding: 22px 90px 22px 38px;
    background-color: $bgalpha;
    border-left: 6px solid $bg;
    font-size: 16px;
    line-height: 30px;
    color: $prodtitle;
    margin-bottom: 46px;
    span {
      display: block;
      padding-left: 42px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 3px;
        background-image: url(../images/icons/span-line.svg);
        left: 0;
        top: 14px;
      }
    }
  }
  h6 {
    @extend %rubik-500;
    font-size: 18px;
    line-height: 30px;
    color: $prodtitle;
    padding: 25px 0 0 0;
    p {
      display: block;
      font-size: 16px;
      line-height: 30px;
      margin-top: 22px;
      color: #565872;
      margin-bottom: 0;
    }
  }

  padding: 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    max-width: 830px;
    width: 100%;
  }
  &__left-img {
    float: left;
    margin-right: 31px;
  }
  &__right-img {
    float: right;
    margin-left: 31px;
  }
}

.blog-author {
  margin-top: 47px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  &__inner {
    height: 130px;
    display: flex;
    justify-content: space-between;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__image {
    margin-right: 28px;
  }
  &__name {
    @extend %rubik-500;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 12px;
    color: #333333;
  }
  &__position {
    font-size: 16px;
    line-height: 100%;
    color: #666666;
  }
  &__tags {
    color: #333333;
  }
  &__tag-list {
    display: inline-flex;
    margin-top: 39px;
    margin-bottom: 13px;
    margin-left: 27px;
  }
  &__tag-link {
    color: #999999;
  }
  &__tag-item + .blog-author__tag-item {
    margin-left: 4px;
  }
  &__share-list {
    display: inline-flex;
    margin-left: 20px;
  }
  &__share-item + .blog-author__share-item {
    margin-left: 20px;
  }
}

.comments {
  margin-bottom: 92px;
  &__title {
    margin-top: 62px;
    @extend %rubik-700;
    font-size: 24px;
    line-height: 100%;
    color: $headertop;
    margin-bottom: 55px;
  }
  &__inner {
    display: flex;
    margin-bottom: 29px;
  }
  &__inner-img {
    width: 100px;
    height: 100px;
    margin-right: 31px;
    overflow: hidden;
    object-fit: cover;
  }
  &__content-top {
    display: flex;
    justify-content: space-between;
  }
  &__content-name {
    @extend %rubik-700;
    font-size: 16px;
    line-height: 19px;
    color: $headertop;
    margin-bottom: 23px;
  }
  &__content-date {
    font-size: 16px;
    line-height: 17px;
    color: #9e9e9e;
  }
  &__content-text {
    font-size: 16px;
    line-height: 30px;
    color: #565872;
    margin-bottom: 15px;
    max-width: 698px;
  }
  &__content-reply {
    padding-right: 32px;
    font-size: 14px;
    line-height: 17px;
    color: #526278;

    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background-image: url(../images/icons/arrow-right.svg);
      right: 0;
    }
  }
  &__inner--right {
    margin-left: 131px;
    padding: 29px 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }
  &__content-text--right {
    max-width: 567px;
  }
}

.comments-form {
  &__title {
    @extend %rubik-700;
    font-size: 24px;
    color: $headertop;
    margin-bottom: 44px;
  }
  &__box-input {
    display: flex;
    margin-bottom: 20px;
  }
  &__text-input {
    display: inline-block;
    width: 400px;
    height: 50px;
    padding: 0 40px 0 20px;
    border: 1px solid $bg;
  }
  &__text-input--name {
    margin-right: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 18px;
      bottom: 0;
      right: 20px;
      width: 14px;
      height: 13px;
      background-image: url(../images/icons/name.svg);
    }
  }
  &__text-input--email {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 19px;
      bottom: 0;
      right: 20px;
      width: 18px;
      height: 12px;
      background-image: url(../images/icons/email.svg);
    }
  }
  &__textarea {
    max-width: 830px;
    width: 100%;
    height: 120px;
    padding: 17px 40px 17px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    resize: none;
    margin-bottom: 40px;
  }
  &__textarea--text {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 19px;
      bottom: 0;
      right: 20px;
      width: 18px;
      height: 14px;
      background-image: url(../images/icons/text.svg);
    }
  }
  &__btn {
    padding: 16px 34px;
    background-color: $bg;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
}
