.video-popup {
  margin-bottom: 120px;
  background-image: url(../images/Clip.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 500px;
  &__link {
    display: flex;
    min-height: 500px;
    justify-content: center;
  }
}