.brands {
  position: relative;
  z-index: 1;
  padding: 264px 0 92px;
  background-color: rgba(252, 215, 182, 0.2);
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.brands-login {
  padding: 80px 0 88px;
}

@media (max-width: 1366px){
  .brands{
    margin-bottom: 78px;
    padding: 80px 0 88px;
  }
}

@media (max-width: 800px){
  .brands{
    padding: 50px 0;
    &__list{
      flex-direction: column;
    }
    &__item + .brands__item{
      margin-top: 30px;
    }
  }
}