<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glee</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/about.min.css">
  </head>

  <body>

    {% include 'app/module/_header/_header.html' %}

    <main class="main">

      {% include 'app/module/_top/_top.html' %}

      {% include 'app/module/_about-us/_about-us.html' %}

      {% include 'app/module/_about-features/_about-features.html' %}

      {% include 'app/module/_team/_team.html' %}

      {% include 'app/module/_blog/_blog.html' %}

      {% include 'app/module/_brands/_brands.html' %}

    </main>

    {% include 'app/module/_footer/_footer.html' %}

    <script src="js/main.min.js"></script>
  </body>

</html>