<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glee</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/blog-details.min.css">
    {# нужно доделать модульность #}
    <link rel="stylesheet" href="css/style.min.css">
  </head>

  <body>

    {% include 'app/module/_header/_header.html' %}

    <main class="main">

      {% include 'app/module/_top/_top.html' %}

      {% include 'app/module/_blog-details/_blog-details.html' %}

      {% include 'app/module/_brands-login/_brands-login.html' %}

    </main>

    {% include 'app/module/_footer/_footer.html' %}

    <script src="js/main.min.js"></script>
  </body>

</html>