<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glee</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/contact.min.css">
  </head>

  <body>

    {% include 'app/module/_header/_header.html' %}

    <main class="main">

      {% include 'app/module/_top/_top.html' %}

      {% include 'app/module/_contact/_contact.html' %}

      {% include 'app/module/_contact-us/_contact-us.html' %}

      {% include 'app/module/_blog/_blog.html' %}

      {% include 'app/module/_brands/_brands.html' %}

    </main>

    {% include 'app/module/_footer/_footer.html' %}

    <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=&v=weekly" async></script>
    <script>
      let map;

      function initMap() {
        map = new google
          .maps
          .Map(document.getElementById("map"), {
            center: {
              lat: 29.90739493059455,
              lng: -95.36561880431485
            },
            zoom: 8
          });
      }
    </script>

    <script src="js/main.min.js"></script>
  </body>

</html>