<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glee</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/index.min.css">
  </head>

  <body>

    {% include 'app/module/_header/_header.html' %}

    <main class="main">
      <div class="container-global">

        {# {% include 'app/module/_slider-top/_slider-top.html' %} #}

        {# {% include 'app/module/_features/_features.html' %} #}

        {# {% include 'app/module/_products/_products.html' %} #}

        {# {% include 'app/module/_new-design/_new-design.html' %} #}

      </div>

      {# {% include 'app/module/_video-popup/_video-popup.html' %} #}

      {# {% include 'app/module/_blog/_blog.html' %} #}

      {# {% include 'app/module/_brands/_brands.html' %} #}

    </main>

    {% include 'app/module/_footer/_footer.html' %}

    <script src="js/main.min.js"></script>
  </body>

</html>