<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="stylesheet" href="css/terms.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}

  <main class="main">
  
    {% include 'app/module/_top/_top.html' %}

    <section class="terms">
      <div class="container">
        <div class="terms__content">
          <h4 class="terms__title">
            Types of Personal Information We Collect
          </h4>
          <ol class="terms__list">
            <li class="terms__item">
              Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              dolor in
              reprehenderit in voluptate velit esse cillum dolore
            </li>
            <li class="terms__item">
              Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              dolor in
              reprehenderit in voluptate velit esse cillum dolore
            </li>
            <li class="terms__item">
              Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </li>
            <li class="terms__item">
              Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo
              consequat.
            </li>
            <li class="terms__item">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            </li>
          </ol>
          <h4 class="terms__title">
            How marketpmss.com Collects Personal Infonnation
          </h4>
          <p class="terms__text">
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in
            reprehenderit in voluptate velit esse cillum dolore
          </p>
          <h4 class="terms__title">
            How marketprosscom Uses Personal Information
          </h4>
          <p class="terms__text">
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in
            reprehenderit in voluptate velit esse cillum dolore
          </p>
        </div>
      </div>
    </section>

    <section class="blog blog-position">
      <div class="container">
        <div class="blog-top">
          <h3 class="blog-top__title title">
            Our Insights & Articles
          </h3>
          <a class="blog-top__link" href="#">
            View All
          </a>
        </div>
        <div class="blog-content">
          <div class="blog-content__inner">
            <div class="blog-content__item">
              <a class="blog-content__link-img" href="#">
                <img class="blog-content__images" src="images/content/blog-1.jpg" alt="blog image">
              </a>
              <a class="blog-content__link-news" href="#">
                NEWS
              </a>
              <a class="blog-content__link-text" href="#">
                Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
              </a>
              <div class="blog-content__aside">
                <span class="blog-content__date">
                  28 JANUARY, 2020
                </span>
                <a class="blog-content__author" href="#">
                  BY ADMIN
                </a>
              </div>
            </div>
            <div class="blog-content__item">
              <a class="blog-content__link-img" href="#">
                <img class="blog-content__images" src="images/content/blog-2.jpg" alt="blog image">
              </a>
              <a class="blog-content__link-news" href="#">
                NEWS
              </a>
              <a class="blog-content__link-text" href="#">
                Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              </a>
              <div class="blog-content__aside">
                <span class="blog-content__date">
                  28 JANUARY, 2020
                </span>
                <a class="blog-content__author" href="#">
                  BY ADMIN
                </a>
              </div>
            </div>
            <div class="blog-content__item">
              <a class="blog-content__link-img" href="#">
                <img class="blog-content__images" src="images/content/blog-3.jpg" alt="blog image">
              </a>
              <a class="blog-content__link-news" href="#">
                NEWS
              </a>
              <a class="blog-content__link-text" href="#">
                Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
              </a>
              <div class="blog-content__aside">
                <span class="blog-content__date">
                  28 JANUARY, 2020
                </span>
                <a class="blog-content__author" href="#">
                  BY ADMIN
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="brands">
      <div class="container">
        <ul class="brands__list">
          <li class="brands__item">
            <img class="brands__images" src="images/content/brand-1.png" alt="brands image">
          </li>
          <li class="brands__item">
            <img class="brands__images" src="images/content/brand-2.png" alt="brands image">
          </li>
          <li class="brands__item">
            <img class="brands__images" src="images/content/brand-3.png" alt="brands image">
          </li>
          <li class="brands__item">
            <img class="brands__images" src="images/content/brand-4.png" alt="brands image">
          </li>
          <li class="brands__item">
            <img class="brands__images" src="images/content/brand-5.png" alt="brands image">
          </li>
        </ul>
      </div>
    </div>

  </main>

  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>