.new-design {
  padding-bottom: 120px;
  &__block-title {
    margin-bottom: 24px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 34px;
  }
  &__item {
    max-width: 370px;
    height: 246px;
    position: relative;
    overflow: hidden;
    background-color: #f8f8f8;
    border-radius: 5px 5px 0 0;
    padding-left: 37px;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__title {
    @extend %dmsans-700;
    font-size: 20px;
    line-height: 24px;
    color: $title;
    margin-top: 37px;
    margin-bottom: 10px;
    max-width: 176px;
  }
  &__types {
    display: block;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 19px;
    color: $bg;
  }
  &__image {
    position: absolute;
    left: 100px;
    top: 100px;
  }
  &__image--third {
    position: absolute;
    right: 56px;
    bottom: 47px;
  }
  &__image--fifth {
    position: absolute;
    right: 30px;
    bottom: 29px;
  }
}

@media (max-width: 1366px) {
  .new-design {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      max-width: 100%;
    }
    &__image--third {
      left: 115px;
      bottom: 20px;
    }
    &__image--fifth {
      left: 105px;
      top: 62px;
    }
  }
}

@media (max-width: 800px){
  .new-design {
    padding-bottom: 60px;
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
    &__item {
      max-width: 100%;
    }
    &__image--third {
      left: 115px;
      bottom: 20px;
    }
    &__image--fifth {
      left: 105px;
      top: 62px;
    }
  }
}