.about-us {
  padding: 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 676px;
  }
  &__image {
    height: 892px;
    margin-top: -95px;
  }
  &__description {
    padding: 52px 0 93px;
    max-width: 553px;
  }
  &__description-inner {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
  }
  &__description-items {
    margin-left: 24px;
    margin-top: 20px;
  }
  &__num {
    @extend %rubik-700;
    font-size: 140px;
    color: $bg;
  }
  &__text {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $headertop;
  }
  &__text-descr {
    padding-bottom: 63px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 500px;
      height: 1px;
      background-color: rgba(9, 49, 111, 0.1);
      left: 0;
      bottom: 0;
    }
    margin-bottom: 31px;
  }
  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 32px;
    color: $prodtitle;
  }
  &__title-descr {
    margin-bottom: 37px;
  }
  &__results {
    display: flex;
  }
  &__item {
    position: relative;
  }
  &__item-projects {
    padding-left: 45px;
    margin-right: 54px;
    &::before {
      position: absolute;
      content: "";
      width: 36px;
      height: 38px;
      background-image: url(../images/icons/project.svg);
      left: 0;
    }
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 80px;
      background-color: rgba(9, 49, 111, 0.1);
      top: -10px;
      right: -25px;
    }
  }
  &__item-revenue {
    padding-left: 60px;
    margin-right: 61px;
    &::before {
      position: absolute;
      content: "";
      width: 43px;
      height: 39px;
      background-image: url(../images/icons/revenue.svg);
      left: 0;
    }
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 80px;
      background-color: rgba(9, 49, 111, 0.1);
      top: -10px;
      right: -34px;
    }
  }
  &__item-awards {
    padding-left: 61px;
    &::before {
      position: absolute;
      content: "";
      width: 42px;
      height: 40px;
      background-image: url(../images/icons/awards.svg);
      left: 0;
    }
  }
  &__results-text {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 17px;
    color: #4c4c4c;
    margin-top: 8px;
  }
}
